
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Home.cshtml";
}


<body background="~/images/bannerpic1.png" style="position:page; background-repeat:no-repeat;">
    <div class="row" style="margin-top:90px">
        <div class="col-md-7" style="background-color:whitesmoke; opacity:0.9">
            <br /><br />
            <h4>Like what you do. Where to do it.</h4>
            <h2>And get paid more.</h2>
            <table>
                <tr>
                    <td>
                        <input class="form-control" type="text" placeholder="Job Title, Skill, Industry" />
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="City, State, Zip" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <br /><center><input class="btn btn-default" type="button" value="Search Jobs" style="background-color:chartreuse;height:60px; width:160px;" /></center>
                    </td>
                </tr>
            </table>
            <br /> <br /><br />
        </div>
        <div class="col-md-5" style="background-color:lightblue; opacity:0.9">
            <br /><br /><br />
            <h4>Make your search <b>easy!</b></h4>
            <h2>Upload your resume</h2> <br />
            <input class="btn btn-default" type="button" value="Upload Resume" style="background-color:cornflowerblue; color:aliceblue; height:70px; width:180px;" />
            <br /><br /><br /><br />
        </div>
    </div>
    <br /><br /><br /><br />
</body>
