@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">

    <p class="col-md-2"></p>
    <p class="col-md-4">Total Number of visitors: <br />@ApplicationInstance.Application["Totaluser"]</p>
    <p class="col-md-4">Total Number of visitors got job: <br /> @ApplicationInstance.Application["Totaluser"]</p>
    <p class="col-md-2"></p>
    <!--<p>Total Number of Online visitors: @ApplicationInstance.Application["TotalOnlineUsers"]</p>--> <br /><br />
</div>

<div class="row">
    <div class="col-md-2">
        @*<h2>Getting started</h2>*@
        <p>
            <img src="~/images/amazon.gif " width="200" />
        </p>
        <p>
            <img src="~/images/google.gif " width="200" />
        </p>
        <p>
            <img src="~/images/fedex.gif " width="200" />
        </p>
        <p>
            <img src="~/images/pinterest.gif " width="200" />
        </p>
        <p>
            <img src="~/images/microsoft.gif " width="200" />
        </p>
        <p>
            <img src="~/images/apple.gif " width="200" />
        </p>
        <p>
            <img src="~/images/adidas.gif " width="200" />
        </p>
        <p>
            <img src="~/images/vivo.gif " width="200" />
        </p>

        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-8">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>